<section class="calendar-container">
    
    <button mat-button color="primary" (click)="openModal()">Agregar evento</button>

    <article class="calendar-content">
        @for (header of headers; track header) {
            <span class="calendar-header">{{header}}</span>
        }

        @for (item of calendarData; track item) {
            <div calendar-body>
                <span>
                    {{item.day}}
                </span>
            </div>
        }
    </article>

</section>