$default-color-text : #333333;
$default-color-text-red :#ff4040;
$border-color: #e5e5e5;
$border-width: 1px;

$last-positions: 36, 37, 38, 39, 40, 41, 42;

.calendar-container {

    padding-bottom: 2rem;

    .calendar-content {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .calendar-header {
            padding: 0.25rem;
            text-align: center;
            color: $default-color-text;
            &:first-of-type {
                color: $default-color-text-red;
            }
        }

        
        .calendar-body {
            min-height: 6rem;
            border-top: $border-width solid $border-color;
            border-left: $border-width solid $border-color;
            padding: 0.25rem;

            &:not(.current-month) {
            &:nth-of-type(7n + 1) {
                span {
                    color: #ff404066;;
                }
            }

            span {
                color: #33333366;
            }
            }

            &.current-day {
                span {
                    width: 1.7rem;
                    height: 1.7rem;
                    border-radius: 50%;
                    background-color: #135de6;
                    padding: 0.025rem;
                    display: grid;
                    place-content: center;
                    color: white;
                }
            }

            &:nth-of-type(7n) {
                border-right: $border-width solid $border-color;
            }

            @each $el in $last-positions {
                &:nth-of-type(#{$el}) {
                    border-bottom: $border-width solid $border-color;
                }
            }

            span {
                color: $default-color-text;
            }

            &:nth-of-type(7n + 1) {
                span {
                    color: $default-color-text-red;
                }
            }
        }
    }
}