section {
    display: grid;
    place-content: center;

.profile-card {
    max-width: 400px;
}

.profile-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  
}